### Project config file
/src/main/java/resources/cz/cvut/fel/aic/agentpolis/demo/config/local-config-location.txt

target/

#temp data
*.ser
.idea/
*.iml
*.log
log.txt
log/
python_scripts/data
python_scripts/*.osm
python_scripts/*.bz2
python_scripts/osmfilter*
