### Project config file
/src/main/java/resources/cz/cvut/fel/aic/agentpolis/demo/config/local-config-location.txt

target/

#temp data
*.ser
.idea/
*.iml
*.log
log*
python_scripts/osmfilter*
data/* #geojson files
maps/* #osm files
scr/main/java/cz/cvut/fel/aic/demo/config/* #temporary java files

