### Project config file
/src/main/java/resources/cz/cvut/fel/aic/agentpolis/demo/config/local-config-location.txt

target/

#temp data
*.ser
.idea/
*.iml
*.log
log*
python_scripts/osmfilter*

#geojson files
data/
#osm files
maps/


#temporary java files
src/main/java/cz/cvut/fel/aic/demo/config

